Repository imbaniac/buildscape-ui: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

colors: true
no_tty: false

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,ts,jsx,tsx,svelte,css,json,md,html}"
      run: npx prettier --check {staged_files}
      skip:
        - merge
        - rebase

    eslint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: npx eslint --max-warnings 100 {staged_files}
      skip:
        - merge
        - rebase

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit

pre-push:
  commands:
    type-check:
      run: bun run check
      skip:
        - merge
        - rebase

feat: add skeleton loader for table
  src/components/charts/ChartRow.svelte
  src/components/charts/ChartTable.svelte
Due: prettier, eslint

fix: github action commit message
  .github/workflows/generate-og-images.yml
Due: none

chore: update og images [skip ci]
  static/og/map.png
Due: none

feat: correct tvl usage
  lefthook.yml
  scripts/generate-og-images.ts
  src/components/book/ChainInfoPage.svelte
  src/components/charts/ChartHeader.svelte
  src/components/charts/ChartRow.svelte
  src/components/charts/ChartTable.svelte
  src/lib/stores/chainDataStore.ts
  src/routes/chain/[slug]/+layout.svelte
  src/routes/chains/+page.svelte
Due: prettier, eslint

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-berachain.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-bob.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-polygon_zkevm.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none

fix: sse schema
  src/lib/stores/sse.ts
Due: prettier, eslint

chore: remove sse warning on page reload
  src/lib/stores/sse.ts
Due: prettier, eslint

fix: wallets parsing and duplicated rpc key
  src/components/book/tabs/development/RpcSection.svelte
  src/routes/+layout.server.ts
Due: prettier, eslint

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-berachain.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-berachain.png
  static/og/chain-bitlayer.png
  static/og/chain-bnb.png
  static/og/chain-bob.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-polygon_zkevm.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-berachain.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-bob.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
Due: none

chore: add preloading to code loading
  src/lib/pixi/PixiMapRenderer.ts
  src/routes/chain/[slug]/+layout.svelte
  svelte.config.js
Due: prettier, eslint

fix: do not load overview data if it's already loading for same time span
  .prettierignore
  CLAUDE.md
  eslint.config.js
  lefthook.yml
  src/routes/chain/[slug]/+layout.svelte
  src/routes/chains/+page.svelte
Due: prettier, eslint

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-berachain.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-bob.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-polygon_zkevm.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none

feat: update key difference in all chains
  data/chains/abstract.md
  data/chains/apechain.md
  data/chains/arbitrum_nova.md
  data/chains/arbitrum_one.md
  data/chains/avalanche.md
  data/chains/base.md
  data/chains/berachain.md
  data/chains/bitlayer.md
  data/chains/blast.md
  data/chains/bnb.md
  data/chains/bob.md
  data/chains/celo.md
  data/chains/cronos.md
  data/chains/cronos_zkevm.md
  data/chains/ethereum.md
  data/chains/etherlink.md
  data/chains/filecoin.md
  data/chains/fraxtal.md
  data/chains/gnosis.md
  data/chains/hemi.md
  data/chains/immutable_zkevm.md
  data/chains/kava.md
  data/chains/linea.md
  data/chains/lisk.md
  data/chains/mantle.md
  data/chains/morph.md
  data/chains/optimism.md
  data/chains/polygon_pos.md
  data/chains/polygon_zkevm.md
  data/chains/pulsechain.md
  data/chains/rootstock.md
  data/chains/scroll.md
  data/chains/soneium.md
  data/chains/sonic.md
  data/chains/sophon.md
  data/chains/taiko.md
  data/chains/unichain.md
  data/chains/zksync.md
Due: prettier

feat: add better tooltips
  bun.lock
  data/chains/hemi.md
  package.json
  src/components/GlossaryTerm.svelte
  src/components/Tooltip.svelte
  src/components/book/ChainInfoPage.svelte
  src/components/book/MarkdownWithGlossary.svelte
  src/components/book/tabs/OverviewTab.svelte
  src/lib/positions.json
  src/lib/processGlossaryTerms.ts
  src/lib/tooltips.ts
Due: prettier, eslint

chore: fix lint issue
  src/components/Tooltip.svelte
  src/components/book/MarkdownWithGlossary.svelte
Due: prettier, eslint

fix: ssr support for floating-ui
  src/components/GlossaryTerm.svelte
  src/components/Tooltip.svelte
  src/components/book/MarkdownWithGlossary.svelte
Due: prettier, eslint

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-bob.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-polygon_zkevm.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-berachain.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-bob.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-polygon_zkevm.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none

feat: improve cleaning of webgl assets
  src/lib/pixi/IslandAtlasManager.ts
  src/lib/pixi/PixiIslandRenderer.ts
  src/lib/pixi/PixiMapRenderer.ts
  src/routes/+layout.svelte
Due: prettier, eslint

chore: small texture optimization
  src/lib/pixi/PixiIslandRenderer.ts
Due: prettier, eslint

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-berachain.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-bob.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none
