Repository imbaniac/buildscape-ui: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

colors: true
no_tty: false

pre-commit:
  parallel: false # Run sequentially to ensure prettier runs before eslint
  commands:
    prettier:
      glob: "*.{js,ts,jsx,tsx,svelte,css,json,md,html}"
      run: |
        echo "ğŸ¨ Running Prettier..."
        npx prettier --write {staged_files}
        git add {staged_files}
      skip:
        - merge
        - rebase

    eslint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: |
        echo "ğŸ” Running ESLint..."
        npx eslint --fix --max-warnings 100 {staged_files}
        git add {staged_files}
      skip:
        - merge
        - rebase

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit

pre-push:
  commands:
    type-check:
      run: npm run check
      skip:
        - merge
        - rebase

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-berachain.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-bob.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-polygon_zkevm.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-bob.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-polygon_zkevm.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-berachain.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-bob.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-polygon_zkevm.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none

chore: add a few tooltips
  src/lib/tooltips.ts
Due: prettier, eslint

chore: updated docs and info on adding new chains
  .claude/commands/add-chain.md
  .github/ISSUE_TEMPLATE/add-chain.yml
  .github/ISSUE_TEMPLATE/edit-chain.yml
  CHAIN_UPDATE_GUIDE.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/ADD_CHAIN.md
  prompts/generate-chain-data.md
Due: prettier

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-berachain.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-bob.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-berachain.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-bob.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none

feat: improve seo and logo
  src/app.html
  src/lib/components/SEO.svelte
  src/routes/+page.svelte
  src/routes/chains/+page.svelte
  static/apple-touch-icon.png
  static/favicon-32x32.png
  static/favicon.ico
  static/favicon.svg
  static/site.webmanifest
  static/web-app-manifest-192x192.png
  static/web-app-manifest-512x512.png
Due: prettier, eslint

feat: improve og image
  scripts/generate-og-images.ts
  static/bs-logo.svg
Due: prettier, eslint

feat: improve og image
  scripts/generate-og-images.ts
  static/bs-logo.svg
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-berachain.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-polygon_zkevm.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: prettier, eslint

chore: improve loader
  LICENSE_ASSETS
  README.md
  assets/boat.svg
  src/components/BoatLoader.svelte
  src/components/Header.svelte
  src/routes/chains/+page.svelte
Due: prettier, eslint

chore: move out seo for overview routes
  src/lib/utils/chainSeo.ts
  src/routes/chain/[slug]/+page.svelte
  src/routes/chain/[slug]/explorers/+page.svelte
  src/routes/chain/[slug]/overview/+page.svelte
  src/routes/chain/[slug]/wallets/+page.svelte
Due: prettier, eslint

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-berachain.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-bob.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-polygon_zkevm.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none

fix: minor ux fixes for table view
  src/components/charts/ChartFilters.svelte
  src/components/charts/ChartRow.svelte
  src/components/charts/ChartTable.svelte
  src/lib/utils/searchUtils.ts
Due: prettier, eslint

feat: table layout with grids
  commitlint.config.js
  src/components/charts/ChartHeader.svelte
  src/components/charts/ChartRow.svelte
  src/components/charts/ChartTable.svelte
Due: prettier, eslint

chore: split table into components
  src/components/charts/ChartFilters.svelte
  src/components/charts/ChartTable.svelte
  src/components/charts/TableCell.svelte
  src/components/charts/TableControls.svelte
  src/components/charts/TableHeader.svelte
  src/components/charts/TableRow.svelte
  src/components/charts/types.ts
  src/lib/utils/chartFormatters.ts
  src/routes/chains/+page.svelte
Due: prettier, eslint

chore: update og images [skip ci]
  static/og/chain-abstract.png
  static/og/chain-apechain.png
  static/og/chain-arbitrum_nova.png
  static/og/chain-arbitrum_one.png
  static/og/chain-avalanche.png
  static/og/chain-base.png
  static/og/chain-berachain.png
  static/og/chain-bitlayer.png
  static/og/chain-blast.png
  static/og/chain-bnb.png
  static/og/chain-celo.png
  static/og/chain-cronos.png
  static/og/chain-cronos_zkevm.png
  static/og/chain-ethereum.png
  static/og/chain-etherlink.png
  static/og/chain-filecoin.png
  static/og/chain-fraxtal.png
  static/og/chain-gnosis.png
  static/og/chain-hemi.png
  static/og/chain-immutable_zkevm.png
  static/og/chain-kava.png
  static/og/chain-linea.png
  static/og/chain-lisk.png
  static/og/chain-mantle.png
  static/og/chain-morph.png
  static/og/chain-optimism.png
  static/og/chain-polygon_pos.png
  static/og/chain-polygon_zkevm.png
  static/og/chain-pulsechain.png
  static/og/chain-rootstock.png
  static/og/chain-scroll.png
  static/og/chain-soneium.png
  static/og/chain-sonic.png
  static/og/chain-sophon.png
  static/og/chain-taiko.png
  static/og/chain-unichain.png
  static/og/chain-zksync.png
  static/og/map.png
Due: none

chore: add a few more terms to glossary
  src/components/Tooltip.svelte
  src/components/book/ChainInfoPage.svelte
  src/lib/tooltips.ts
Due: prettier, eslint

feat: native token price integration from api
  src/components/book/ChainInfoPage.svelte
  src/components/book/metrics/GasTooltip.svelte
  src/components/book/metrics/NetworkStatus.svelte
  src/components/book/metrics/ResourcePanel.svelte
  src/components/charts/ChartTable.svelte
  src/components/charts/TableCell.svelte
  src/components/charts/TableRow.svelte
  src/components/charts/types.ts
  src/lib/api/overview.ts
  src/routes/+page.svelte
  src/routes/chains/+page.svelte
Due: prettier, eslint

fix: use global period by default in chain view
  src/components/charts/ChartTable.svelte
  src/routes/chain/[slug]/+layout.svelte
Due: prettier, eslint

feat: add waves to the loader
  src/components/BoatLoader.svelte
Due: prettier, eslint
